.customers-list {
  display: flex;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.customers-list-item {
  height: 88px;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color var(--hover-duration-func),
    color var(--hover-duration-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-list-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customers-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
  }

  .customers-list-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customers-container {
    width: 552px;
  }

  .customers-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}
