.hero-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}

.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 112px 0;
    max-width: 767px;
  }

  .hero-title {
    max-width: 320px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .hero-wrapper {
    row-gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-mobile.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    padding: 112px 0;
    max-width: 100%;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-wrapper {
    row-gap: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-tablet.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    max-width: 100%;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-wrapper {
    row-gap: 48px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-desktop.jpg');
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../../images/hero-bg-desktop@2x.jpg');
  }
}
